* {
  box-sizing: border-box;
}
body {
  font-family: Roboto;
  min-width: 1150px;
  max-width: 100%;
  
}

.heder {
  margin: 0 auto;
}

.heder__content {
  background-color: #EEEFF1;
  height: 700px;
  padding-right: 458px;
  overflow: hidden;
}
.heder__content_conteiner {
  width: 611px;
  margin: 0 auto;
  overflow: hidden;
}
.content_nav__link {
  display: flex;
  gap: 40px;
}

.content_nav__link a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 0.1em;
  color: #000000;
}

.content_nav__link a :hover {
  color: #34547A;
}

.heder__content_nav {
  margin-inline: auto;
  padding-top: 80px;
}

.heder__content_title h1{
  font-weight: 500;
  font-size: 48px;
  padding-top: 162px;
}

.heder__content_title p {
  font-size: 16px;
  line-height: 26.25px;
  letter-spacing: 0.02em;
  color: #727272;
  width: 540px;
  padding-top: 55px;
  padding-bottom: 57px;
}

.heder__content_buttun {
  background-color: #34547A;
  color: #ffff;
  font-size: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border: 0;
  padding: 19px 40px 25px 41px;
}

.main__content_about{
  display: flex;
  justify-content: center;
  
}
.content_about {
  text-align: center;
}
.content_about h2 {
  color: #000000;
  font-weight: 500;
  font-size: 32px;
  line-height: 37.5px;
  width: auto;
  padding-top: 112px;
  padding-bottom: 50px;
}

.content_about p {
  font-size: 16px;
  line-height: 26.25px;
  color: #727272;
  width: 540px;
  padding-bottom: 100px;
}

.main__content_projekt {
  background-color: #34547A;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.main__content_projekt {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 45px;
  
}

.content_projekt_items {
  width: 141px;
  height: auto;
  display: flex;
}

.projekt_items_img {
  width: 50px;
  height: 50px;
}

.projekt_items_tex {
  padding-left: 20px;
}

.projekt_items_tex h3 {
  font-weight: 500;
  font-size: 21px;
  line-height: 24.61px;
  color: #FFFFFF;
  padding-bottom: 7px;
}

.projekt_items_tex p {
  font-size: 16px;
  line-height: 26.25px;
  color: #FFFFFF;
}

.main__content_work {
  background-color: #EEEFF1;
  height: 1004px;
}

.conteiner__video_work {
  width: 1110px;
  height: 600px;
}

.content_work__conteiner h2 {
  text-align: center;
  font-size: 32px;
  line-height: 37.5px;
  font-weight: 500;
  padding-top: 100px;
  padding-bottom: 50px;
 
}

.content_work__conteiner p {
  text-align: center;
  font-size: 16px;
  color: #727272;
  line-height: 26.25px;
  width: 540px;
  padding-bottom: 57px;
}

.content_work__conteiner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.conteiner__video_work {
  min-width: 1100px;
}
.conteiner__icon_pley {
  position: absolute;
  margin-left: -600px;
  margin-top: 250px;
  width: 100px;
  height: 100px;

}

footer {
  background-color: #34547A;
  height: 151px;
}

.footern__content {
  padding-right: 486px;
  overflow: hidden;
}
.footern__content_conteiner {
  width: 611px;
  margin: 0 auto;
  overflow: hidden;
}

.footern__content_conteiner h3 {
  font-weight: 500; 
  font-size: 21px; 
  line-height: 24.61px; 
  color: #FFFFFF; 
  padding-top: 50px;
}

.footern__content_conteiner p {
  font-size: 13px;
  line-height: 21.33px;
  color: #FFFFFF;
  padding-top: 15px;
}
 .home-work {
  padding-top: 100px;
  font-size: 25px;
 }
 .heder__content_title a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
 }
 .heder__content_title a:hover {
  color: #ec0606;
 }
@media( max-width:1167px) {
  body {
      min-width: 800px;
      max-width:1167px
  }
  .heder__content {
      padding-left: 13.7%;
  }
  .footern__content {
      padding-left: 13.7%;
  }
}
@media( max-width:1129px) {
  .conteiner__video_work {
      padding-inline: 9%; 
      max-width: calc(100% - 10%);
      max-height: calc(100% - 10%);
  }
  .content_work__conteiner {
      overflow: hidden;
  }
}
@media( max-width:876px) {
  body {
      min-width: 600px;
  }
  .main__content_projekt {
      flex-wrap: wrap;
  }
  .conteiner__video_work {
      padding-inline: 20%; 
      max-width: calc(90% - 10%);
      height: 523px; 
  }
  .conteiner__icon_pley {    
      margin-left: -588px;
      margin-top: 198px;
      width: 95px;
      height: 95px;}

  .heder__content {
      padding-left: 10%;
  }
  .footern__content {
      padding-left: 10%;
  }
  .content_nav__link a {
      font-size: 14px;
  }
  .content_work__conteiner {
      overflow: hidden;
  }
}

@media( max-width:622px) {
  body {
      min-width: 320px;
  }
  .heder__content {
      padding-left: 5%;
      padding-right: 10%;
      
  }
  .footern__content {
      padding-left: 5%;
      padding-right: 10%;
  }
  .content_nav__link {
      gap: 6%;
      row-gap: 10px;
      flex-wrap: wrap;
      
  }
  .heder__content_conteiner {
    max-width: 100%;
  }
  .content_nav__link a {
      font-size: 12px;
  }
  .heder__content_title h1 {
      font-size: 38px;
  }
  .heder__content_title p {
      font-size: 12px;
      width: 340px;
  }
  .heder__content_buttun {
      font-size: 12px;
      padding: 15px 32px 20px 32px;
  }
  .content_about h2 {
      font-size: 29px;
  }
  .content_about p {
      font-size: 12px;
      width: auto;
      padding-inline: 5%;
  }
  .content_about h2 {
      font-size: 29px;
  }
  .content_work__conteiner p {
      font-size: 12px;
  }
  .footern__content h3 {
      font-size: 18px; 
  }
  .footern__content p {
      font-size: 9px;
  }
  .main__content_projekt {
      gap: 10px;
  }
  .conteiner__video_work {
      padding-inline: 30%; 
      max-width: calc(80% - 10%);
      max-height: 407px;
  }
  .conteiner__icon_pley {
      width: 85px;
      height: 85px;
      margin-left: -582px;
      margin-top: 152px;
  }
  .main__content_work {
    height: 920px;
  }
  .content_work__conteiner {
      overflow: hidden;
  }
}
@media(max-width:420px) {
  body {
    min-width: 220px;
}

.content_about p {
    font-size: 9px;
    padding-inline: 10%;
}
.content_nav__link {
    gap: 8%;
    row-gap: 10px ;
    padding: 10px;
}

.content_work__conteiner p {
    height: auto;
    padding-inline: 5%;
    font-size: 10px;
    width: 340px;
}
.main__content_projekt {
    gap: 10px;
    height: 100%;
    padding-block: 10px;
}
.conteiner__video_work {
    padding-inline: 35%; 
    height: 300px;
}
.content_work__conteiner {
    overflow: hidden;
    padding-bottom: 50px;
}
.heder__content_nav  {
  padding-top: 20px;
}
.conteiner__icon_pley {
    position: absolute;
    margin-left: -573px;
    margin-top: 121px;
    width: 60px;
    height: 60px;
  
}
.main__content_work {
    height: auto;
}
}

@media(max-width:375px) {
  body {
      min-width: 220px;
  }
  .heder__content_title p {
    padding-right: 100px;
  }
  
  .content_about p {
      font-size: 8px;
      padding-inline: 9%;
  }
  .content_nav__link {
      gap: 8%;
      row-gap: 9px ;
      padding: 9px;
  }
  
  .content_work__conteiner p {
      height: auto;
      padding-inline: 5%;
      font-size: 9px;
      width: 237px;
  }
  .main__content_projekt {
      gap: 10px;
  }

  .content_work__conteiner {
      overflow: hidden;
      padding-bottom: 50px;
  }


  .main__content_work {
      height: auto;
  }
}
