body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    min-width: 422px;
    height: 1fr;
  }
  .heder_logo {
    width: 40px;
  }
  .my_main {
    
    background-color: aqua;
  }
  
  .carousel-item img {
    height: 500px;
  }
  
  .card img {
    width: 100px;
  }
  