$main:#323264;
$alt:#46466E;
$soft:#686887;
$accent:#F0145A;
$regular:#24A3FF;
$hover:#0085FF;
$active:#006CCF;
$bg:#F5F5FA;
$bg_alt:#EDEDF7;
$text:#B3B3BA;
$separator:#E6E6F0;
$white:#FFFFFF;
$gradient:linear-gradient(38deg, #323264 0%, #323264 73.96%, #A54B5F 100%);
$gradient_soft:linear-gradient(318deg, #323264 0%, #323264 50.63%, #7A425E 100%);
$gradient_red:linear-gradient(237deg, #F0145A 0%, #693264 100%);
$gradient_supersoft:linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
$gradient_red_text:linear-gradient(0.13deg, #F0145A 0%, #EF8080 100%);


